<!DOCTYPE HTML>

 <html>

    <head>

    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <meta charset="utf-8">

        <!-- Description, Keywords and Author -->

        <meta name="description" content="">

        <meta name="author" content="">



        <title>:: avana LLC | About ::</title>

		<!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> -->



        <!-- style -->

        <link href="/style.css" rel="stylesheets" type="text/css">

        <!-- style -->

        <!-- bootstrap -->

        <link href="/bootstrap.min.css" rel="stylesheets" type="text/css">

        <!-- responsive -->

        <link href="/responsive.css" rel="stylesheets" type="text/css">

        <!-- font-awesome -->

        <link href="font-awesome.min.css" rel="stylesheets" type="text/css">
        <link href="/fonts" rel="stylesheets" type="text/css">



        <!-- font-awesome -->


       <link href="/bootstrap.min.css" rel="javascripts" type="text/css">



	</head>



    <body>



    	<!-- header -->

        	<header role="header">

            	<div class="container">

                	<!-- logo -->

                    	<!-- <h1>

                        	<a href="index.html" title="avana LLC"><img src="https://www.pakutaso.com/shared/img/page/top_os06.jpg" title="avana LLC" alt="avana LLC"/></a>

                        </h1> -->

                    <!-- logo -->

                    <!-- nav -->

                    <nav role="header-nav" class="navy">

                        <ul>

                            <li><a href="phote" title="Phote">Photo</a></li>

                            <li class="nav-active"><a href="sound" title="Sound">Sound</a></li>

                            <li><a href="Video" title="Video">Video</a></li>

                            <li><a href="index" title="About">About</a></li>

                        </ul>

                    </nav>

                    <!-- nav -->

                </div>

            </header>

        <!-- header -->

        <!-- main -->

        <main role="main-inner-wrapper" class="container">



            <div class="row">



            	<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

                	<article role="pge-title-content">

                    	<header>

                        	<h2><span>Creative</span> What want you create?</h2>

                        </header>

                        <p>イラスト・写真・音楽・映像</p>
                        <p>クリエイターの創作物を感じましょう</p>

                    </article>

                </section>



                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                	<article class="about-content">

                    	<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc, fiant sollemnes in futurum.</p>

                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consueum formas humanitatis per seacula quarta deciEodem modo tythepi, qui nunc, fiant sollemnes in futurum.</p>

                    </article>

                </section>



                <div class="clearfix"></div>




  <!------------------------------------------------------------------------------>




<!--
              <div class="row">



              	<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

                  	<article role="pge-title-content">

                      	<header>

                          	<h2><span>Creative</span> What want you create?</h2>

                          </header>

                          <p>イラスト・写真・音楽・映像</p>
                          <p>クリエイターの創作物を感じましょう</p>

                      </article>

                  </section>



                  <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                  	<article class="about-content">

                      	<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc, fiant sollemnes in futurum.</p>

                          <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consueum formas humanitatis per seacula quarta deciEodem modo tythepi, qui nunc, fiant sollemnes in futurum.</p>

                      </article>

                  </section>



                  <div class="clearfix"></div>

 -->



  <!------------------------------------------------------------------------------>

                <!-- thumbnails -->

                	<div class="thumbnails-pan">

                    	<section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                        <a href="phote">
                        	<figure>
                            	<!-- <img src="https://digital-elf.com/wp-content/uploads/2016/02/Future_Citys_SS.jpg" class="img-responsive"/> -->
                              <img src="https://digital-elf.com/wp-content/uploads/2016/02/Future_Citys_SS.jpg"  width="380" height="285"　class="img-responsive"/>

                            	<figcaption>

                                	<h3>Photo</h3>

                                    <h5>写真・イラスト</h5>

                                </figcaption>

                            </figure>
                          </a>
                        </section>

                        <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                          <a href="sound">
                        	<figure>

                            	<!-- <img src="https://digital-elf.com/wp-content/uploads/2015/04/The_Savior_s-1.jpg" class="img-responsive"/> -->
                              <img src="https://digital-elf.com/wp-content/uploads/2015/04/The_Savior_s-1.jpg"  width="380" height="285"　class="img-responsive"/>
                            	<figcaption>

                                	<h3>Music</h3>

                                    <h5>音楽・サントラ</h5>

                                </figcaption>

                            </figure>
                            </a>
                        </section>

                        <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                              <a href="video">
                        	<figure>

                            	<!-- <img src="https://www.shochiku-mediaworx.jp/images/top/main@2x.png" class="img-responsive"/> -->
                              <img src="https://www.shochiku-mediaworx.jp/images/top/main@2x.png"  width="380" height="285"　class="img-responsive"/>

                            	<figcaption>

                                	<h3>Movie</h3>

                                    <h5>映像・動画</h5>

                                </figcaption>

                            </figure>
                              </a>
                        </section>





                    </div>

                <!-- thumbnails -->





            </div>

        </main>

    	<!-- main -->

        <!-- footer -->

        <footer role="footer">

            <!-- logo -->
<!--
                <h1>

                    <a href="index.html" title="avana LLC"><img src="https://c.wallhere.com/photos/ec/46/black_gray_leather_texture_dark-208060.jpg!d" title="avana LLC" alt="avana LLC"/></a>

                </h1> -->

            <!-- logo -->

            <!-- nav -->








            <nav role="footer-nav">

            	<ul>

                	<li><a href="https://twitter.com/harakiri0120?lang=ja" title="Twitter">Twitter</a></li>

                    <li><a href="https://www.facebook.com/profile.php?id=100008119638935" title="facebook">facebook</a></li>

                    <li><a href="http://www.kigyoshimin.com/" title="Project">企業市民プロジェクト</a></li>

                    <li><a href="http://www.iwate-pu.ac.jp/" title="home">Contact</a></li>

                </ul>

            </nav>

            <!-- nav -->

            <ul role="social-icons">

            	<li><a href="https://twitter.com/harakiri0120?lang=ja"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>

                <li><a href="https://www.facebook.com/profile.php?id=100008119638935"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>

                <li><a href="http://www.kigyoshimin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

                <li><a href="http://www.iwate-pu.ac.jp/"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>

            </ul>

            <p class="copy-right">&copy; Port Folio Created 2018</p>

        </footer>

        <!-- footer -->



        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

        <script src="js/jquery.min.js" type="text/javascripts"></script>

        <!-- custom -->

		<script src="js/nav.js" type="text/javascripts"></script>

        <script src="js/custom.js" type="text/javascripts"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->

        <script src="js/bootstrap.min.js" type="text/javascripts"></script>

        <!-- jquery.countdown -->

        <script src="js/html5shiv.js" type="text/javascripts"></script>




        <script src="fonts/glyphicons-halflings-regular.woff2" type="text/assets"></script>
        <script src="fonts/fontawesome-webfont.woff2" type="text/assets"></script>
        <script src="fonts/fontawesome-webfont.woff" type="text/assets"></script>
        <script src="fonts/glyphicons-halflings-regular.woff" type="text/assets"></script>
        <script src="fonts/fontawesome-webfont.ttf" type="text/assets"></script>
        <script src="fonts/glyphicons-halflings-regular.ttf" type="text/assets"></script>

    </body>

</html>
